<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
	margin-top: 100px;
	font-family: sans-serif;
	background: #fff;
}

h2 {
	text-align: center;
	font-size: 20px;
	color: #fff;
	display: block;
}

error {
	display: block;
	max-width: 700px;
	min-width: 400px;
	min-height: 60px;
	background: rgba(255, 0, 0, 0.5);
	border-radius: 20px;
	border: 2px solid #f00;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

    </style>
</head>
<body>
    <error>
        <h2>MEMBER DOES NOT EXIST</h2>
    </error>
</body>
</html>